{% extends "base.html" %}
   
{% block content %}  
<div class="container">
<div class="row">
    <div class="col-lg-2"></div>   
    <div class="col-lg-6">    
        <div class="panel-group">
            <div class="panel panel-default">
            <div class="panel-body"><p><strong><h3>Contact info</h3></strong></p><hr>
            <p style="font-size:18px;">Your feedback and suggestion are valuable, 
                you can drop your message to following mail.
                <br><br></p>
                <p style="font-size: 16px;"><a>vsachin446@gmail.com</a></p></div></div>
        
            <div class="panel panel-default">
                <div class="panel-body"><p style="font-size: 18px;" class="text-warning"><strong>Thank you</strong></p></div>
        </div>
    </div>
    <br>
    <br>
            
    <br>
    <br><br><br><br>
    <br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>

    </div>
    <div class="col-lg-3"></div>  
    </div>
</div>
{% endblock %}
